<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".pigfarm.CheckScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pigfarm.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pigfarm.Open_Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pigfarm.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pigfarm.Event_main"
            android:screenOrientation="portrait" />

        <activity android:name=".pigfarm.ManageData_Page.MainActivity_ManageData"
            android:screenOrientation="portrait"/>
        <activity android:name=".pigfarm.about_activity"
            android:screenOrientation="portrait" />
        <activity android:name=".pigfarm.Register"
            android:screenOrientation="portrait" />
        <activity android:name=".pigfarm.Report.Report_Home"
            android:screenOrientation="portrait" />
        <activity android:name=".pigfarm.Report.Report_Group"
            android:screenOrientation="portrait" />
        <activity android:name=".pigfarm.Report.Report_Status"
            android:screenOrientation="portrait" />
        <activity android:name=".pigfarm.Report.PigData_Report"
            android:screenOrientation="portrait" />
        <activity android:name=".pigfarm.Report.WebView_Report_Status" />
        <activity android:name=".pigfarm.Report.Report_History" />
        <activity android:name=".pigfarm.Settings.SettingsActivity"/>

    </application>

</manifest>